.icon-skills{
    background-color: #F5F4FA;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-skills-svg{
    width: 70px;
    height: 70px;
    
}
.details-title{
    color:var(--heading-main-color);
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;

}
.details-text{
    color:var(--primary-text-color);
    font-size: 14px; 
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.skills{
    display: flex;
    
}
.skills-item{
    margin-right: 30px;
    width: 270px;
}
.skills-item:last-child{
    margin: 0;
}.punctuality-title{
    color:var(--heading-main-color);
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;

}
.punctuality-text{
    color: var(--primary-text-color);
    font-size: 14px; 
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.planning-title{
    color:var(--heading-main-color);
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;

}
.planning-text{
    color:var(--primary-text-color);
    font-size: 14px; 
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.technologies-title{
    color:var(--heading-main-color);
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;

}
.technologies-text{
    color:var(--primary-text-color);
    font-size: 14px; 
    line-height: 1.7;
    letter-spacing: 0.03em;
}